<h1><a href = "/main" target="_blank">TestGuru</a></h1>

<p><%= link_to 'Sign up', '/signup' %></p>
<p><%= link_to 'Login', '/login' %></p>
<p><%= link_to 'Exit', destroy_path(@session), method: 'delete' %></p>
