<div class="nav nav-admin">
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-text">
        Welcome, <b><%= current_user.email %></b> Admin Guru |
        <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %> |
        <%= link_to 'Edit tests', admin_tests_path %>
    </span>
  </nav>
</div>
